#response.transitions-enabled
  - @response.businesses.each do |business|
    .box.panel.panel-default
      .panel-heading
        %h5= business.name
      .panel-body
        %p= image_tag business.image_url
        %p
          = image_tag business.rating_img_url
          (#{business.review_count})
        %p= link_to image_tag('yelp_icon.png'), business.url, target: '_blank'