!!! 5
%html
%head
  %title Yelp Search
  %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
  = favicon_link_tag 'favicon.ico'
  = include_gon
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  = render 'shared/navbar'

  = yield

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP']}&callback=initMap"